
/****** Page d'accueil *******/

/** couleurs:

jaune: #ffe533
gris : #a7a8a8
bleu : #3e597d
bois : #df9050 

***/

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/imageHeader.jpg);
}

header img {
    width: 15%;
    vertical-align: middle;
}

.header {
    display: inline-block;
    width: 50%;
    margin-left: 30%;
    vertical-align: middle;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffe533; 
}

header nav a {
    width: 20%;
    text-decoration: none;
    padding: 1%;
    border-bottom: 5px solid #ffe533;
    color: black;
}

header nav a:hover {
    padding: 1%;
    background-color: #a7a8a8;
    border-bottom: 5PX black solid;
    color: white;
}

/*MAIN*/

/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/*FONT*/

main{
    font-family:'Oswald', sans-serif;
    background:#e6e6e6;
}

    

.container1{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: auto;
    box-shadow:8px 8px 8px rgba(0,0,0,0.75);
    background: white ;

}
.container1 img{
    width: 50vw;
}

.container1 p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

section h1{
    text-align: center;
    margin-top: 1em;
}

#lastsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 30%;  
    box-shadow:8px 8px 8px rgba(0,0,0,0.75);
    margin:2em;
    padding-bottom: 1em;
    background:#fde274;
    text-align: center;
}

.container2 img{
    width:80%;
    
}
.container2 p{
    padding-bottom: 1em;
}
.container2 a{
    text-decoration: none;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 40vh;  
    background-image: url(img/imageHeader.jpg);
    
}

.socialnetwork img{
    width: 32px;
    
}


.adresslogo img{
    width: 30%;
}

.adresslogo , footer nav , .socialnetwork {
    width: 30%;
    margin: auto;
}

footer nav {
    text-align: center;
}

footer nav a {
    display: block;
    margin: 6%;
    text-decoration: none;
    color: black;
    background-color: #a7a8a8b2;
    font-weight: bold;
   
}


footer nav a:hover {
    color: #ffe4338f;

}

span {
    font-weight: bold;
}