
/****** Page d'accueil *******/

/** couleurs:

jaune: #ffe533
gris : #a7a8a8
bleu : #3e597d
bois : #df9050 

***/

body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/imageHeader.jpg);
}

header img {
    width: 15%;
    vertical-align: middle;
}

.header {
    display: inline-block;
    width: 50%;
    margin-left: 30%;
    vertical-align: middle;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffe533; 
}

header nav a {
    width: 20%;
    text-decoration: none;
    padding: 1%;
    border-bottom: 5px solid #ffe533;
    color: black;
}

header nav a:hover {
    padding: 1%;
    background-color: #a7a8a8;
    border-bottom: 5PX black solid;
    color: white;
}
