
/****** Page d'accueil *******/

/** couleurs:

jaune: #e7bf2a
gris : #9d9d9d
bleu : #3e597d
bois : #df9050 

***/

body {
    margin: 0;
    padding: 0;
}

header div {
    height: 40vh;
    background-image: url(img/imageHeader.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;  
}

header div h1, p {
    text-align: right;
    margin-right: 20%;
}

